<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}">Lista de Productos</title>
    <style type="text/css" th:src="@{/css/styles.css}"></style>
</head>
<body>
    <!-- Mostrar mensaje de error si existe en el patch con el nombre "error" => ?error:=-->
    <div th:if="${param.error}">
        <p class="error" th:text="${param.error}">Error message</p>
    </div>
    <!-- Mostrar mensaje de error si existe en el patch con el nombre "succes" => ?succes:=-->
    <div th:if="${param.succes}">
        <p class="error" th:text="${param.succes}">Error message</p>
    </div>

    <h1 th:text="${title}">Lista de Productos</h1>

    <div>
        <a th:href="@{/}">Inicio</a>
        &nbsp;|&nbsp;
        <a th:href="@{/products/form}">Nuevo producto</a>
        |&nbsp;
        <a th:href="@{/products/form-img}">Nuevo producto con imagen</a>
    </div>

    <br />

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Creado</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product, iterStat : ${products}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${product.name}">Nombre</td>
                <td th:text="${product.price}">0.0</td>
                <td th:text="${#dates.format(product.createAt, 'dd-MM-yyyy')}">01-01-2020</td>
                <td th:text="${product.category != null ? product.category.name : 'Sin categoria'}">Categoria</td>
                <td class="actions">
                    <a th:href="@{/products/{id}(id=${product.id})}">Ver</a>
                    <a th:href="@{/products/edit/{id}(id=${product.id})}">Editar</a>
                    <a th:href="@{/products/edit-img/{id}(id=${product.id})}">Editar (Con Image)</a>
                    <a th:href="@{/products/eliminar/{id}(id=${product.id})}"
                        onclick="return confirm('Estas seguro que quieres eliminar')">Eliminar</a>
                </td>
            </tr>
            <!-- Mostrar un mensaje si no hay productos -->
            <tr th:if="${#lists.isEmpty(products)}">
                <td colspan="5">No hay productos para mostrar.</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
